---
layout: default
title: Brendan's Year In Review 2013
---

<div id="loading">
  <img src="img/CfA_logo_white.png" />
  <h1>2013</h1> 
  <p>Year In Review</p>
</div>





{% for p in site.posts %}

{% if p.url != "/index.html" %}
<div class="pagebg {{ p.pagetype }} {{ p.image }}" style="background-color:#{{ p.bgcolor }};" >
</div>
{% endif %}
{% endfor %}  


<div id="page">
  <div class="sidebar">

    {% for p in site.posts %}

    <div class="sidebartitle" >

      {% if p.title != "stats" %}
      <h2>{{ p.title }}</h2>

      {% endif %}
    </div>

    {% endfor %}
    
  </div>
  
  {% for p in site.posts %}

  {% if p.url != "/index.html" %}
  <a name="{{ p.section }}"></a>
  <div class="page {{ p.pagetype }}" style="background-color:#{{ p.bgslide }};padding-top:{{ p.extrapadding }}" data-section="nav{{ p.section }}">
    {{ p.content | markdownify }}
    <div class="clear"></div>  
  </div>
  {% endif %}
  {% endfor %}

</div>
  
</div>
